@media(max-width: 992px){
    .about-right {
        margin-top: -9px;
    }
    .counter-item {
        margin-top: 28px;
    }
    .port-item {
        margin-bottom: 107px;
    }
    .pricing-box ul li {
        font-size: 17px;
        margin-top: 24px !important;
    }
    .pricing-box a {
        margin-top: 15px !important;
        padding: 5px 16px !important;
        font-size: 16px !important;
    }
}
@media(max-width: 768px){
    .contact-right {
        margin-top: 55px;
        text-align: center;
    }
    .about-right {
        margin-top: 28px;
        text-align: center;
    }
    .banner-left {
        margin-top: 60px;
        text-align: center;
        margin-bottom: 32px;
    }
}
@media(max-width: 476px){
    .footer-p {
        font-size: 15px;
    }
}
